.main{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 600px;
background-color: antiquewhite;
flex-wrap: wrap;
}
.sub{
    height: 300px;
    width: 300px;
    background-color: brown;
    border: 2px solid black;
}