nav{
    background-color: rgb(255, 255, 255)no-repeat left center;
    width: 100%;
    height:50px;
    justify-content: space-between;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
}
nav img{
    width: 8vw;
    height:50px;
    margin-left: 30px;
}
.navleft{
    display: flex;
}
.navsearch-container {
    position: relative;
    width: 300px; 
    display: flex;
    width: 50vw;
    margin-left: 10px;
    height: 40px;
    margin-top: 5px;
}

.navsearch-container svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    pointer-events: none; 
    height: 20px;
    
}

.navsearch-container input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px; 
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid grey;
}
.navbut1{
    background-color: white;
    border:none;
    cursor: pointer;
    width: 8vw;
    height:30px;
    margin-top: 10px;
}
.navbut2{
    background-color: rgb(255, 0, 0);
    color: white;
    border:1px solid red;
    border-radius: 10%;
    cursor: pointer;
    width: 6vw;
    height:30px;
    margin-top: 10px;
}
.navright img{
    color: black;
    width:30px;
}
.navright{
    display: flex;
}
.navright2{
    margin-right: 20px;
}
/* navbar2 */
.nav2{
    background-color: aliceblue; 
    display: flex;
    height: 40px;
    font-family: "Nunito Sans", sans-serif;
}
.nav2left span{
    margin-left: 20px;
}
.nav2left{
    margin-top: 10px;
}
.nav2right span{
    margin-right: 20px;
}
.nav2right{
    margin-top: 10px;
}
.section1{
    width: 100%;
    height:70vh;
    background-color: #000000;
    margin-top: 1PX;
    font-family: "Nunito Sans", sans-serif;
}
.sec1img1{
    width: 200vw;
    height: 70vh;
    margin-left: 1vw;
}
.box::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 62vh;
  background: rgb(2,0,20);
  background: rgb(0,0,0);
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,0.908)10% , rgba(0,0,0,0.375) 30%);
}
.sec1card{
    background-color: rgb(0, 0, 0);
    width:20%;
    height:53vh;
    color: white;
    text-align: center;
    position: absolute;
    top:20vh;
    left:40px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 2%;
}
.sec1card img{
    width: 100%;
    height:94%;
    border-radius: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.sec1div2{
    width:40%;
    height:40vh ;
    position: absolute;
    top:30vh;
    left:25vw;
}
ul {
    list-style-type: none;
    padding: 2px;
    color: white;
  }
  .sec1li{
    background-color: rgb(47, 46, 46);
    width:90%;
    height:60px;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
  }
  .sec1liu{
    font-size: 30px;
    margin-left: 10px;
    
  }
  .sec1liimg{
    padding-top: 15px;
    padding-left:20px;
  }
  .sec1liimgdis{
    padding-top: 14px;
    padding-left:20px;
    font-size: 18px;
    color: white;
  }
  .sec1liimgdis button{
    margin-left: 11vw;
    height: 35px;
    border-radius: 2px;
    border:1px solid white;
    font-size: 15px;
    
  }
  .sec1li2u button{
    height:20px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 2px;
    margin-top: 25px;
  }
  .sec1li3u{
    margin-left: 10px;
  }